@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* variabels  */
:root {
  --backgroud: #18a558;
  --primary: #21B6A8;
  --secondary: #116530;
  --font: #ffffff;
}

/* globals  */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--backgroud);
  color: var(--font);
  margin: 0;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 84%;
  margin: 0 auto;
}
@media screen and (min-width: 520px) {
  .container {
    max-width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

/* navbar  */
.navbar {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .navbar {
    text-align: left;
  }
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.navbar ul {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  grid-gap: 16px;
  justify-content: center;
}
.navbar a {
  color: var(--font);
  text-decoration: none;
  background-color: var(--primary);
  padding: 8px 20px;
  border: 2px solid var(--primary);
  border-radius: 12px;
  transition: border-color .2s ease-in-out;
}
.navbar a:hover {
  border-color: var(--font);
}

/* flowers */
.flowers {
  padding: 40px 0;
}
.flowers .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 28px;
}
@media screen and (min-width: 520px) {
  .flowers .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .flowers .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.flower {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 2px 4px 4px var(--secondary), -2px -1px 4px var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flower .flower-info {
  padding: 20px;
}
.flower .flower-name {
  margin: 0 0 10px 0;
}
.flower .flower-scientific-name {
  margin: 0 0 16px 0;
}
.flower .flower-info a {
  display: block;
  padding: 12px 0;
  color: var(--font);
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  background-color: var(--secondary);
}
.flower-details {
  padding: 40px 0;
}

/* footer */
.footer {
  padding: 40px 0;
  background-color: var(--secondary);
}
.footer .container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer .emoji {
  font-size: 24px;
}
.footer ul {
  display: flex;
  justify-content: flex-end;
}
.footer li {
  margin: 0 10px;
}
.footer li:first-of-type {
  margin-left: 0;
}
.footer li:last-of-type {
  margin-right: 0;
}
.footer a {
  color: var(--font);
  text-decoration: none;
  transition: color .2s ease;
}
.footer a:hover {
  color: var(--primary);
}